<div class="contactus-module">
    <h2>Contact Us</h2>

    <div class="breadcrumb">
        <a href="javascript:void(0)" id="ancLogin" ng-click="wmc.topNavClick('#ancLogin');" ng-if="!wmc.currentUser.loginStatus">&#8656; Back to HomePage</a>
        <a href="javascript:void(0)" id="ancHome" ng-click="wmc.topNavClick('#ancHome');" ng-if="wmc.currentUser.loginStatus">&#8656; Back to HomePage</a>
    </div>
    <div class="contactus-section">
        <div class="left-col">Email:</div>
        <div class="right-col"><a href="mailto:creativedreamlion@gmail.com">creativedreamlion@gmail.com</a></div>
        <div class="clear"></div>

        <div class="left-col">Phone:</div>
        <div class="right-col"><a href="tel:4084548309">+1(408)454-8309</a></div>
        <div class="clear"></div>
    </div>
</div>