<div class="divLoginModule">
    <div class="signin-module large-5 columns">
        <h2>Sign In</h2>
        <form name="formSignIn" action="" novalidate>
            <div class="emailid-sec">
                <label for="txtEmailId" class="ada-hidden">Email ID</label>
                <input type="email" name="txtEmailId" id="txtEmailId" placeholder="Email ID" required="true"/>
            </div>
            <div class="password-sec">
                <label for="txtPassWord" class="ada-hidden">Password</label>
                <input type="password" name="txtPassWord" id="txtPassWord" placeholder="Password" required="true"/>
            </div>
            <div class="signin-btn">
                <a href="#"  class="button secondary">Sign In</a>
            </div>
        </form>
    </div>
    <div class="signup-module large-7 columns">
        <h2>Sign Up</h2>
        <form name="formSignUp" action="" novalidate>
            <div class="username-sec">
                <label class="ada-hidden">UserName</label>
                <input type="text" name="txtUName" ng-model="txtName" placeholder="UserName" ng-required="true"/>
                 <span class="errorfield" ng-if="formSignUp.txtUName.$dirty && formSignUp.txtUName.$invalid">
                     <span ng-show="formSignUp.txtUName.$error.required">Username is required.</span>
                 </span>
            </div>
            <div class="emailid-sec">
                <label for="txtSignUpEmailId" class="ada-hidden">Email ID</label>
                <input type="email" name="txtSignUpEmailId" id="txtSignUpEmailId" placeholder="Email ID" required="true"/>
            </div>
            <div class="password-sec">
                <label for="txtSignUpPassWord" class="ada-hidden">Password</label>
                <input type="password" name="txtSignUpPassWord" id="txtSignUpPassWord" placeholder="Password" required="true"/>
            </div>
            <div class="conf-password-sec">
                <label for="txtSignUpConfPassWord" class="ada-hidden">Confirm Password</label>
                <input type="password" name="txtSignUpConfPassWord" id="txtSignUpConfPassWord" placeholder="Confirm Password" required="true"/>
            </div>
            <div class="signup-btn">
                <a href="#"  class="button primary">Sign Up</a>
            </div>
        </form>
    </div>
    <div class="clear"></div>
</div>