$font-size : 12px;

body {
  .divLoginModule {
    font-size: $font-size;
    .signin-module{
      float:left;
    }
    .signup-module{
      @media #{$medium-up} {
        border-left: 1px solid #cccccc;
      }
    }
    input{
      margin: 1rem 0 0 0;
      &:last-child{
        margin: 1rem 0 1rem 0;
      }
    }
  }
}