<header class="header-module">
    <div class="type-demo">
        <h1 class="header-title"><span class="header-logo fa fa-stack-overflow">
        </span>Work Management</h1>
    </div>
    <ul class="inline-list fl-rt">
        <li><a href="javascript:void(0);">About</a></li>
        <li>&#124;</li>
        <li><a href="javascript:void(0);">Contact Us</a></li>
    </ul>
    <div class="clear"></div>
    <div class="alert-box large fa fa-exclamation-triangle page-level-error" ng-if="wmc.serviceError">
        <span>{{wmc.errorMsg}}</span>
    </div>
    <div class="alert-box success" ng-if="wmc.successMessage">
        <i class="fa fa-check"></i>
        <span>{{wmc.positiveMsg}}</span>
    </div>
</header>