$headerfont: 'Roboto Slab', serif;
.header-module{
  .header-title{
    font-family:$headerfont;
    color:white;
    float:left;
    width:34%;
    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px){
      font-size: 2rem;
    }
    @media only screen
    and (min-device-width: 768px) {
      font-size: 2.5rem;
    }
  }
  nav{
    margin-top:20px;
    .dropdown{
      a{
        background:#999 !important;
      }
    }
  }
  .header-logo{
    font-family: FontAwesome;
    margin-right:15px;
  }
  .type-demo{
    background-color:rgba(0,0,0,0.8);
    padding: 1px 20px;
  }
  ul.inline-list{
    margin: 20px 0 0 0;
    color:#FFF;
    a{
      color:#FFF;
    }
  }
}

footer{
  p.copyright{
    text-align: center;
    color: #999;
    font-size: 0.9em;
  }
}