.create-work-sheet{
  padding: 20px;
  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  .cal-sec{
    input.datepicker{
      height: 25px;
      font-family: "abelregular";
      font-size: 15px;
      width: 42%;
    }
    .datepicker-label{
      float:left;
      width:11%;
    }
    .datepicker-input{
      float:left;
    }
  }
  .effort-table{
    min-height: 475px;
  }
  .mrt-5{
    margin-right:5px;
  }
  .grid{
    width: 60%;
    height: 50px;
  }
}