@import "../common/layout/layout";
@import "../login/login";

body{
  font-family: Helvetica, Roboto, Arial, sans-serif;

  .clear{
    clear: both;
  }
  a:hover,a:focus{
    color:#0000EE;
    text-decoration: underline;
  }
  .fl-lt{
    float:left;
  }
  .fl-rt{
    float:right;
  }
  .ada-hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  .clear{
    clear:both;
  }
  .errorfield{
    color:red;
  }
}